{% from "common/_macro.html" import static %}
<!DOCTYPE>
<html lang="en">
<head>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="baidu-site-verification" content="hn68pFbaQX" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% include "common/_front_heads.html" %}
    <link rel="stylesheet" href="{{ static("front/css/index.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static("front/login/css/index.css") }}">
    <link rel="stylesheet" href="{{ static("front/css/media.css") }}">
    <link rel="stylesheet" href=" {{static("common/layui/css/modules/layui-icon-extend/iconfont.css") }}">
    <script src="{{ static("common/layui/css/modules/layui-icon-extend/iconfont.js") }}"></script>
    <style>
        #bs-example-navbar-collapse-1 a{
            font-size: 20px;
            color: white;
        }
        li a{
             color: white;
        }

    </style>
    {% block head %}{% endblock %}
</head>
{% if g.front_user %}
<body class="bg" style="background-color: {{ g.front_user.color }}">
    <span id="mycolo" style="display: none;">{{ g.front_user.color }}</span>
    <nav class="navbar navbar-default bg" style="background-color: {{ g.front_user.color }};border-color:#1d1239 ">
    {% else %}
<body class="bg" style="background-color:#1d1239">
<nav class="navbar navbar-default bg" style="border-top: 0px;border-color:#1d1239 ">
{% endif %}
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
  <div class="container-fluid" style="background: #1d1239;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for("front.index") }}" style="width: 300px;height:auto;margin-top: -0.5cm">
      		<img src="{{ static("front/images/x1.png") }}" alt="Logo"
                 style="width: 240px;height: auto">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="color:#1d1239">
      <ul class="nav navbar-nav">
        <li class=""><a href="{{ url_for("front.index") }}" style="color: white"><i style="color: #bddcde;font-size: 35px" class="iconfont  layui-extend-faxian"></i>首页</a></li>
          <li class=""><a href="{{ url_for("group.index") }}" style="color: white"><i style="color: #779dcd;font-size: 35px" class="iconfont  layui-extend-qunzu"></i> 社区</a></li>
        <li class=""><a href="{{ url_for("album.index") }}" style="color: white"><i style="color: #3697af;font-size: 35px" class="iconfont  layui-extend-xuexi"></i> 学习</a></li>
          {% if g.front_user %}
                  <li class=""><a href="{{ url_for("front.chat",user_id = g.front_user.id) }}"><i style="color: #5962b6;font-size: 35px" class="iconfont  layui-extend-youjian"></i> 私信</a></li>
          {% endif %}
        <li class="dropdown">

        </li>
      </ul>
            <ul class="nav navbar-nav navbar-right" style="border-color: #1d1239">
                <li>
                    <a href="{{ url_for("front.search") }}" style="color: white;font-size: 20px">
                    <i style="color: #977cff;font-size: 20px" class="iconfont  layui-extend-sousuoxiao"></i> 搜索
                </a></li>
                <li><a href="{{ url_for("front.apost") }}" style="color: white">
                   <i style="color: #ad4f78;font-size: 20px" class="iconfont  layui-extend-bianji1"></i> 发帖
                </a></li>
                {% if g.front_user %}
                    <!---
                    <li><a id="element_id" style="color: white">
                    <i class="dashboard icon"></i>&nbsp;&nbsp;主题
                </a></li>--->
                           <li><a href="{{ url_for("front.information") }}#" style="color: white">
                     <i style="color: #d4a1be;font-size: 20px" class="iconfont  layui-extend-tixing"></i>消息
                </a></li>
                    <span style="display: none;" data-login-user="1" id="login-span"></span>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="{{ g.front_user.avatar }}" alt=""
                             class="profile_img">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" >
                        <li><a href="{{ url_for("front.apost") }}" style="color: #2E2D3C">&nbsp;&nbsp;发布</a></li>
                        <li><a href="{{ url_for("front.u",user_id=g.front_user.id) }}" style="color: #2E2D3C">&nbsp;&nbsp;我的主页</a></li>
                        <li><a href="{{ url_for("front.setting_base") }}" style="color: #2E2D3C">&nbsp;&nbsp;设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for("front.logout") }}" style="color: #2E2D3C">&nbsp;&nbsp;退出</a></li>
                    </ul>
                </li>
                    {% else %}
                                    <li><a href="{{ url_for("front.login") }}" ><span style=" color: white;">登录</span></a></li>
                                    <li><a href="{{ url_for("front.signup") }}"><span style=" color: white;">注册</span></a></li>
                    {% endif %}
            <li>
              <select  id="language" class="form-control"  style="float:right;margin-bottom: 10px;margin-top: 15px;">
                  <option value="中文">中文</option>
                  <option value="英文">英文</option>
                </select>
            </li>
            </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>var color = $("#element_id").cxColor();</script>
{% block body %}

{% endblock %}
    <footer id="footer_group">
            © 2022 Hackers, Inc.
    </footer>
</body>
</html>