{% from "common/_macro.html" import static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ static("common/css/404.css") }}">
    <link rel="stylesheet" href="{{ static("front/css/index.css") }}">
</head>
<body>
    <div class="main_contener_404">
        <img src="{{ static("common/images/404.png") }}" alt="">
        <div class="return-index">
            <a href="{{ url_for("front.index") }}">回到首页</a>
        </div>
    </div>

    <footer id="footer_group">

            站长邮箱：<a>782993095@qq.com</a><br>
    </footer>
</body>
</html>